<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Hoş Geldiniz!</h1>
    <p>Bilgisayar Görüşü ve NLP (Nöro-dilbilim) konularından oluşan 10 soruluk sınavımıza hoş geldiniz!</p>
    <a href="{{ url_for('quiz') }}">Sınava Başla</a>
    <footer>
        <p>Geliştirici: <strong>Nursena Taşköprü</strong></p>
    </footer>
</body>
</html>
